[Unit]
Description=Checks battery status
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/home/authmane512/.i3/check_battery.py 15
Restart=on-failure

[Install]
WantedBy=multi-user.target
